$greyBorder:rgb(236,237,237);
$greyBorderHead:rgb(191,190,190);

.settings-container{
    width: 620px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    border: 1px solid $greyBorder;
    padding: 20px;
}
.settings-content-container-filters{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.settings-content-container-filter{
    font-weight: bold;
    height: 17px;
    font-size: 11px;
    margin-right: 20px;
    color: #4b4b4b;
    cursor: pointer;
}
.settings-content-container-filter-selected{
    font-weight: bold;
    height: 17px;
    font-size: 11px;
    margin-right: 20px;
    border-bottom: 2px solid #4b4b4b;
    cursor: pointer;
    color: #4b4b4b;
}
$buttonColor: rgb(55,180,74);

.personal-info-input-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 430px;
}
.personal-info-input-container input{
    margin-top: 10px;
}
.personal-info-input-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    margin-top: 20px;
}
.personal-info-input-footer{
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    margin-top: 20px;
}
.personal-info-input-footer b{
    margin-left: 10px;
    margin-right: 10px;
}
/****************************/
.personal-info-id-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 430px;
}
.personal-info-id-container input{
    margin-top: 10px;
}
.personal-info-id-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    margin-top: 20px;
}
.settings-divider{
    width: 100%;
    max-width: 430px;
    height: 1px;
    background-color: $greyBorder;
    margin-top: 20px;
}
.settings-payments-inputs{
    width: 100%;
    max-width: 430px;
    display: flex;
    flex-direction: column;
}
.settings-payments-inputs input{
    margin-top: 10px;
}
.settings-payments-inputs-2{
    width: 100%;
    max-width: 430px;
    display: flex;
    justify-content: space-between;
}
.settings-payments-inputs-2 input{
    max-width: 48%;
}