$titleColor: rgb(240,103,35);
$inputBorderColor: rgb(215,215,215);
$buttonColor: rgb(55,180,74);

.register-confirmation-main-container{
    display: flex;
    max-width: 960px;
    height: 600px;
    margin: 0 auto;
}
.register-confirmation-container{
    width: 100%;
}
.register-confirmation-title{
    height: 100px;
    font-size: 36px;
    font-weight: bold;
    padding: 35px;
    color: $titleColor;
    margin-bottom: 10px;
}
.register-confirmation-text{
    padding-left: 35px;
    color: #4b4b4b;
}
